RewriteEngine On

# Handle API requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ rest/index.php [QSA,L]

# Handle docs requests
RewriteCond %{REQUEST_URI} ^/SarayGo/backend/docs/?$
RewriteRule .* public/v1/docs/index.php [L]